body
{
    margin-top: 90px;
}

.nav li {
  line-height: 36px;
}

.nav .dropdown-toggle span.caret,
.nav .dropdown-toggle:hover span.caret,
.nav .dropdown-toggle:focus span.caret {
  border-top-color: white;
  border-bottom-color: white;
}
.home-nav li{
    height: 150px;
}

#navlist {
    margin-top: 5px;
}

.hero-unit {
  padding: 40px;
  margin-left:-20px;
}

.hero-unit h1 {
  margin:0 0 10px 0;
}

.well form {
  margin-bottom:0;
}

.span4 .well form input {
  width:316px;
}

.span4 .well form input[type="submit"] {
  width:100%;
}

form div.submit {
  text-align:right;
}

input.boxless-nameinput[type='text']:focus {
	border:0;
}
input.boxless-nameinput[type='text'] {
  border:0;
  display: inline-block;
  height: inherit;
  padding: inherit;
  margin-bottom: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background:inherit;
  border-radius: 0;
  width:50%;
  vertical-align:inherit;
}


.osfa-affix-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}
.osfa-sidenav-container {
	width:200px;
}
@media (max-width: 820px) {
	.osfa-affix-sidenav.affix  {
		position:static !important;
	}
}

.osfa-affix-sidenav.affix {
	width:200px;
}

.osfa-affix-sidenav .icon-chevron-right {
	float: right;
	margin-right: -6px;
	margin-top: 2px;
	opacity: 0.25;
}
.osfa-affix-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.osfa-affix-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.osfa-affix-sidenav > li.sub > a{
    font-size:13px;
	padding-left:28px;
}
.osfa-affix-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.osfa-affix-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

section,header {
	padding-top: 100px;
	margin-top: -100px;
}

.no-left-margin {
	margin-left:0 !important;
}
.select2no-margin {
	margin-left:0 !important;
	padding-left:0 !important;
}
.select2variables .select2-choices {
	height:81px;
}
.tooltip-inner {
    white-space:pre-wrap;
}
input[type=radio] + label {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  margin: 0;
}
.hidden {
  display: none;
  visibility: hidden;
}
.progress-nav {
	margin-top:10px;
	margin-bottom:-10px;
}
.navbar .nav.sub_nav
{
	border-top:#D4D4D4 solid 1px;
	clear:both;
}
.navbar .nav.nav-offset1
{
	margin-left:110px;
}
.navbar .nav.nav-offset2
{
	margin-left:210px;
}
.navbar .nav.nav-offset3
{
	margin-left:270px;
}
footer {
	margin-top:20px;
	clear:both;
}
.row-fluid div.sidenav-span
{
	width:200px;
}

.navbar-whiter .navbar-inner
{
	background-color:#FEFEFE;
    background-image: none;
	box-shadow:none;
}
.center {
	text-align:center;
}
.scoot {
	margin-left:20px !important;
}
.table-fixed {
    table-layout:fixed;
}